.task-board-header{
    display: flex;
    justify-content:space-between ;
}
.tasks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.task-title{
    display: flex;
    justify-content:space-between ;
    font-size: 18px;
}
.editForm input{
    border:none;
    
}
input:focus{
    outline: none;
    
}
.editForm input:focus{
    color:#48b6b6;
}
label {
    margin: 0 4px 4px 0;
}
.update-btn{
    background-color: rgb(186, 226, 226);
    cursor: pointer;
}
.empty{
    width: 1000px;
}