.create-btn{
  color: rgb(124, 187, 187);
  background-color: rgb(255,255,255);
  padding:8px;
  
}
.create-btn:hover{
  cursor: pointer;
  transform: scale(1.1);
  
}
.create-form{
  margin-top: 4px;
}
.create-form input{
  border: 4px solid rgb(193, 218, 218);
  color:rgb(80, 175, 167)
  
}

.workspace {
  font-size: 18px;
  padding: 12px 0 0 0;
  color: rgb(255, 255, 255);
}


a:visited{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.workspace input{
  color: rgb(124, 187, 187);
  border: 4px solid rgb(193, 218, 218);
}
.workspace input:focus{
  outline:none

}
.update-btn:hover{
  color: rgb(124, 187, 187);
  
}
a:active {
  text-decoration: underline;
}